<div class="container">
 
<div class="imageHeader">
   
</div>
<div class="info">
   <p>The Best Way es la mejor  forma de vender tus objetos tan preciados, regístrate subí tu reliquia y ofrécela al mejor postor</p>
   <button *ngIf="!autenticate" mat-raised-button color="primary" [routerLink]="['/register']">Registrate</button>
   <button *ngIf="autenticate" mat-raised-button color="primary" [routerLink]="['/tutorial']">Ver Tutorial</button>
</div>

<!-- <div class="tutorial">
    <p>Recorre este tutorial para asi poder Comprar y Vender! </p>
    <button mat-raised-button color="primary" [routerLink]="['/register']">Comenzar Tutorial</button>
</div> -->

</div>
