*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
margin: 0;
padding: 0;
}

@media (max-width:600px){
    .imageHeader{
        height: 319px;
        width: 163px;
         background-image: url(../../../assets/logo.png);
         background-repeat: no-repeat;
         background-size: cover;
         
       
     }
     .info{
         width: 80%;
        font: fantasy;
        font-size: 15px;
    }
}
@media (min-width:601px){
    .imageHeader{
       
        height: 350px;
        width: 255px;
         background-image: url(../../../assets/logo.png);
         background-repeat: no-repeat;
         background-size: contain;
       
     } 
     .info{
        width: 40%;
        
        font: fantasy;
        font-size: 18px;
    }
 
}