
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <h3>Menu</h3>
    <button mat-raised-button color="primary" [routerLink]="['/login']">Login</button>
    <button mat-raised-button color="Accent" [routerLink]="['/register']">Register</button>
  </mat-drawer>

  <div class="example-sidenav-content">
    
    <app-header (toggleSidenav)="drawer.toggle()"></app-header>
   <router-outlet> </router-outlet>
   <footer>
     <h3>footer</h3>
   </footer>
  </div>

</mat-drawer-container>


